body{
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Play', sans-serif !important;
    overflow: hidden;
}

b{
    color: #D4AF37;
}

#black-screen {
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 1400;
    opacity: 1; 
}

/* Efeitos de transição */
.fade-in {
    animation: fadein var(--fade-in-duration) forwards;
}

.fade-out {
    animation: fadeout var(--fade-out-duration) forwards;
}

.fade-out-complete {
    pointer-events: auto; /* Restaure os eventos de clique após a transição de fade-out */
}

@keyframes fadein {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes fadeout {
    from { opacity: 1; }
    to { opacity: 0; }
}

/* Imagens */
#img-background{
    position: fixed;
    top: 0;
    bottom: 0;
    max-width: 100%;
    height: auto;
}

#img-character1{
    position: absolute;
    height: 640px;
    bottom: 0%;
    left: 25%;
    transform: translateX(-50%);
    z-index: 1100;
}

#img-character2{
    position: absolute;
    height: 640px;
    bottom: 0%;
    left: 75%;
    transform: translateX(-50%);
    z-index: 1100;
}

/* Quem esta falando */
#speaker{
    position: absolute;
    left: 80px;
    bottom: 204px;
    padding: 8px;
    color: white;
    font-weight: bold;
    font-size: 36px;
    font-family: 'Play', sans-serif !important;
    background-color: rgba(175, 89, 62, 0.95);
    border: 8px solid rgba(99, 64, 53, 1);
    border-bottom: none;
    border-radius: 8px;
    z-index: 1200;
    letter-spacing: 2px;
}


/* Caixa de texto e seus elementos */
#text{
    color: white;
    text-align: justify;
    font-size: 28px;
    padding: 24px;
    letter-spacing: 1.6px;
}

#text-box{
    position: absolute;
    width: 88%;
    height: 24%;
    background-color: rgba(175, 89, 62, 0.95);
    border: 8px solid rgba(99, 64, 53, 1);
    border-radius: 16px;
    bottom: 4%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1300;
}

#arrow{
    display: inline-block;
    position: fixed;
    bottom: 56px;
    right: 96px;
    transform: scale(1.6);
    transition: 0.3s;
    z-index: 1500;
}

#arrow:hover{
    cursor: pointer;
    transform: scale(2.4);
    z-index: 1500;
}

/* Caixa de complete */
#box-question{
    position: absolute;
    top: 72px;
    right: 80px;
    height: 160px;
    width: 400px;
    z-index: 1500;
    border: solid 8px #23272A;
    border-radius: 16px;
    background-color: #2C2F33;
    padding: 24px;
    display: none; /* Usa um layout flexível */
    align-items: center; /* Alinha verticalmente */
    justify-content: center; /* Alinha horizontalmente */
}

#box-question-text{
    font-family: 'Play', sans-serif !important;
    color: white;
    font-size: 20px;
}

input{
    font-family: 'Play', sans-serif !important;
    border: dashed white 1px;
    border-radius: 8px;
    font-size: 20px;
    color: white;
    background-color: #23272A;
    width: 48px;
    height: 24px;
    text-align: center;
    outline: none;
    transition: background-color 0.5s ease;
}

#btn-done{
    font-family: 'Play', sans-serif !important;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    padding: 4px 8px;
    text-decoration: none;
    position: absolute;
    right: 16px;
    bottom: 8px;
}

#btn-done:hover{
    cursor: pointer;
    transform: scale(1.1);
}